@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: start;
    @apply text-midBlue;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 900;
  }
}

@layer components {
  .btn-contact {
    @apply bg-green-300 px-4 py-2 font-bold rounded hover:bg-green-500 transition-colors hover:scale-105;
  }

  .gradient {
    @apply bg-gradient-to-l from-sky-400 p-2 rounded;
  }
}
