@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-4xl lg:text-[2.5rem];
    font-weight: 900;
    text-align: start;
    @apply text-midBlue;
  }

  h2 {
    @apply text-lg sm:text-xl  lg:text-[1.3rem];
    font-weight: 900;
  }

  p {
    @apply text-sm md:text-base;
  }
}

@layer components {
  .btn-contact {
    @apply bg-green-300 px-4 py-2 font-bold rounded hover:bg-green-500 transition-colors hover:scale-105;
  }

  .gradient {
    @apply bg-gradient-to-l from-sky-400 p-2 rounded;
  }
}

.accordion-hide {
  @apply opacity-0 h-0 overflow-hidden mt-2  transition-all duration-300 border-t-2 border-t-white;
}

.accordion-show {
  @apply h-max mt-2  transition-all duration-300  border-t-2 border-t-sky-300 pt-2;
}

body {
  @apply overflow-x-hidden w-full;
}

.carousel {
  @apply cursor-grab;
}
